<h2>Question "<%= @query %>" for survey <a href="/survey/<%= @survey.id %>">"<%= @survey.title() %>"</a></h2>
<% if @question.response_set_id.!=(nil) %>
  <h4>Here are the current possible responses to this question:</h4>
  <div style="margin-left: 50px">
    <ul>
      <% ResponseSet.find(@question.response_set_id).responses.each do |response| %>
        <li><%= response.answer() %></li>
      <% end %>
    </ul>
  </div>
  <h4>Would you like to change the possible responses?:</h4>
<% else %>
  <h4>What responses would you like your users to choose from?</h4>
<% end %>

<div style="margin-left: 30px">
  <form action="/survey/<%= @survey_id %>/question/<%= @question_id %>" method="post">
    <h4>Select a pre-made response set:</h4>
      <div class="radio">
        <label>
          <% @canned_response_sets.each() do |canned_set| %>
              <input type="radio" name="chosen_response_set" value="<%= canned_set.id() %>">
                <%= canned_set.name() %>
              <ul>
                <% canned_set.responses().each() do |canned_response| %>
                <li><%= canned_response.answer() %></li>
                <% end %>
              </ul>
        <% end %>
        </label>
        <br>
        <h4>Or, create your own custom response set:</h4>
        <label><input type="radio" name="chosen_response_set" value="choose_custom">Custom (leave fields blank if unneeded)</label>
          <div style="margin-left: 30px">
            <% 5.times() do |counter| %>
              <% for_id_name = "response_".concat((counter + 1).to_s) %>
              <% response_counter = "Response ".concat((counter + 1).to_s) %>
              <label for="<%=for_id_name%>"><%=response_counter%></label>
              <input id="<%=for_id_name%>" name="<%=for_id_name%>" type=text><br>
            <% end %>
          </div>
      </div>
      <button type="submit" class="btn btn-success">Add Response Set</button>
    </div>
  </form>
</div>
