<h2>Question #<%= @question_id %>, "<%= @query %>"?</h2>
<% if @question.response_sets.any? %>
  <h4>Here are the current possible responses to this question:</h4>
    <% @question.response_sets.responses.each do |response| %>
    <ul>
      <li><%= response.answer() %></li>
    </ul>
    <% end %>
  <h4>Would you like to change the possible responses?:</h4>
<% else %>
  <h4>What responses would you like your users to choose from?:</h4>
<% end %>

<h4>Select a canned response set:</h4>

<% @canned_response_sets.each() do |canned_set| %>
<div class="checkbox">
  <label>
    <input type="checkbox" name="chosen_response_set" value="<%= canned_set.id() %>">
    <% canned_set.each() do |canned_response| %>
      <li><%= canned_response.answer() %></li>
    <% end %>
  </label>
</div>
<% end %>

<h4>Or, create a custom response set:</h4>














<form action="/survey/<%= @survey_id %>/question/<%= @question_id %>" method="post">

</form>
