<h2>Question #<%= @question_id %>, "<%= @query %>"?</h2>
<% if @question.respsets.any? %>
  <h4>Here are the current possible responses to this question:</h4>
    <% @question.respsets.responses.each do |response| %>
    <ul>
      <li><%= response.answer() %></li>
    </ul>
    <% end %>
  <h4>Would you like to change the possible responses?:</h4>
<% else %>
  <h4>What responses would you like your users to choose from?:</h4>
<% end %>













<form action="/survey/<%= @survey_id %>/question/<%= @question_id %>" method="post">

</form>
