<h2>Question "<%= @query %>"</h2>
<% if @question.response_sets.any? %>
  <h3>Here are the current possible responses to this question:</h3>
    <% @question.response_sets.responses.each do |response| %>
    <ul>
      <li><%= response.answer() %></li>
    </ul>
    <% end %>
  <h3>Would you like to change the possible responses?:</h3>
<% else %>
  <h3>What responses would you like your users to choose from?</h3>
<% end %>

<div style="margin-left: 30px">
  <form action="/survey/<%= @survey_id %>/question/<%= @question_id %>" method="post">
    <h4>Select a pre-made response set:</h4>
      <div class="radio">
        <label>
          <% @canned_response_sets.each() do |canned_set| %>
              <input type="radio" name="chosen_response_set" value="<%= canned_set.id() %>">
                <p><%= canned_set.name() %></p>
                <% canned_set.responses().each() do |canned_response| %>
                <li><%= canned_response.answer() %></li>
          <% end %>
          <br>
        <% end %>
        </label>
        <br>
        <h4>Or, create your own custom response set:</h4>
        <label><input type="radio" name="chosen_response_set" value="choose_custom">Custom (leave fields blank if unneeded)</label>
          <div style="margin-left: 30px">
            <label for="response_1">Response 1:</label>
            <input id="response_1" name="response_1" type="text"><br>
            <label for="response_2">Response 2:</label>
            <input id="response_2" name="response_2" type="text"><br>
            <label for="response_3">Response 3:</label>
            <input id="response_3" name="response_3" type="text"><br>
            <label for="response_4">Response 4:</label>
            <input id="response_4" name="response_4" type="text"><br>
            <label for="response_5">Response 5:</label>
            <input id="response_5" name="response_5" type="text">
          </div>
      </div>
      <button type="submit" class="btn btn-success">Add Response Set</button>
    </div>
  </form>
</div>
