<h2>What are the possible responses for "<%= @query %>"?</h2>
<form action="/survey/<%= @survey_id %>/question/<%= question_id %>" method="post">
  <% @all_responses.each() do |product| %>
  <div class="checkbox">
    <label>
      <input type="checkbox" name="product_ids_array[]" value="<%= product.id() %>">
      <%= product.name() %>, $<%= product.price() %>
    </label>
  </div>
  <% end %>
</form>
