<h1>Welcome to "<%= @title %>"!</h1>

<h4>This survey should only take a few minutes.
  This is the test version of this survey,
  Ryan will eventually make this a multi-page thing</h4>

<h5>Select the response that best matches.  Feel free to leave any question blank.
  <p><em>Don't forget to hit "submit my answers" at the bottom of the page!</em></p></h5>


<form action="/survey/<% @survey_id %>/finish" method="post">
  <input name="session_id" type="hidden" value="<%= @session_id %>">
  <ol>
    <% @list_of_questions.each() do |question| %>
    <li><%= question.query() %></li>

        <div class="radio" style="margin-left: 20px">
          <% ResponseSet.find(question.response_set_id).responses.each do |response| %>
          <input type="radio" name="question_<%= question.id %>_response" id="<%= response.id %>" value="<%= response.id %>">
          <label for="<%= response.id %>" style="padding-left: 1px"><%= response.answer() %></label>
          <br>
          <% end %>
        </div>

    <% end %>
  </ol>
  <button type="submit" class="btn btn-success">Submit my answers!</button>
</form>
